/* oswald-regular - основной шрифт */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Oswald-Regular.ttf) format(truetype);
}
/* Arial, sans-serif - второй шрифт -он есть в VS Code */

*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    box-sizing: border-box;
}  
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #000;
}

/* Хедер начало*/

/* Хедер конец */

/* Секция BANNER начало */

/* Секция BANNER конец */

/* Секция WEIGHT начало */

/* Секция WEIGHT конец */

/* Секция FUNCTIONALITY начало */

/* Секция FUNCTIONALITY конец */

/* Секция EXAMPLE начало */


.example{
    /* max-width: 1220px; */
    /* margin-left: 110px;
    margin-right: 110px; */
    display: flex;
    justify-content: space-between;
}
.example_wrapper{
    max-width: 1220px;
    padding-left: 110px;
}
.example__heading,
.example__beforeafter{
    max-width: 1220px;
    padding-right: 110px;
    padding-bottom: 126px;
    padding-top: 60px;

}
.example__beforeafter{
    /* margin-right: 300px; */
}
.example__text{
    padding-bottom: 69px;
    max-width: 436px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.example__price{
    display: grid;
    grid-template-columns: 174px 174px;
    grid-gap: 42px;
}
.example__weight,
.example__duration {
    text-align: center;
    /* border: 1px solid #d9d9d9;
    border-radius: 5px; */
}
.example__weight svg{
    position: relative;
}
.example__weight h3,
.example__duration h3{
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 123%;
    color: #000;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.example__weight p,
.example__duration p{
    margin-top: -10px;
    font-size: 14px;
    line-height: 100%;
    color: #444;
}
.example__cost{
    text-align: center;
    padding-bottom: 75px;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000;
}

/* Слайдер с кошками */
.img-comp-container {
    position: relative;
    height: 300px; /*should be the same height as the images*/
}
.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}
.img-comp-img img {
    display: block;
    vertical-align: middle;
}
.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 30px;
    height: 30px;
    background-color: #b094716c;
    opacity: 0.7;
    border-radius: 50%;
}
iframe{
    width: 100vw;
    max-height: 400px;
}

.exemple__slider{
    border-radius: 6px;
    width: 400px;
    height: 6px;
    background: #dcdcdc;
    cursor: pointer;

}
.example__range{
    display: flex;
    justify-content: space-between;
}
.example__range p{
    font-size: 20px;
}
/* Секция EXAMPLE конец */

/* Секция MAP начало */

.map__wrapper{
    position: absolute;
    margin-top: 100px;
    margin-left: 110px;
    padding: 66px 76px 66px 76px;
    max-width: 570px;
    background-color: white;
}
.map__invitation{
    max-width: 570px;
    display: flex;

}
.map__invitation-heading{
    max-width: 163px;
    font-size: 20px;
    line-height: 105%;
    text-transform: uppercase;
    color: #111;
    margin-right: 86px;
}

.map__invitation-text{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 125%;
    color: #444;
}
.map__invitation-text:first-child{
    margin-bottom: 20px;
}

.map__container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}


/* Секция MAP конец */

/* FOOTER начало */

/* FOOTER конец */


/* Медиа запросы */
/* Первый медиа запрос -планшет */
@media (max-width: 768px) {

}
/* Второй медиа запрпос - мобильный*/
@media (max-width: 320px) {

}